<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="database.xml"></import>

    <bean id="jdbc" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"></constructor-arg>
    </bean>

    <bean id="pokerDao" class="dao.PokerDao" />
    <bean id="advisorDao" class="dao.AdviserDao" />

    <bean id="pokerService" class="service.PokerService" />

    <bean id="pokerMapper" class="mapper.PokerMapper" />

    <bean id="adviserService" class="service.AdviserService" >
        <constructor-arg ref="pokerService"/>
        <constructor-arg ref="advisorDao"/>
    </bean>

    <bean id="indexController" class="controller.IndexController">
        <constructor-arg ref="pokerService"/>
    </bean>


</beans>