
body {
    background-image : url("/img/bg.png");
}

.bet {
    cursor: pointer;
}

.dropdown-menu {
    min-width: 140px;
    background-color: #eee;
}

#mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: .9;
    z-index: 1;
    left:0;
    top:0;
    display: none;
}

.alert-info {
    position: absolute;
    margin-top: -70px;
    z-index: 2;
    display: none;
}

.special {
    display: none;
}

#card-board {
    padding-left: 40px;
}

#dealer-card {
    height: 110px;
}

#player-card {
    height: 110px;
}

#operation-board {
    padding: 10px;
}

#dealer-account {
    height: 130px;
}

#player-account {
    padding: 10px;
}

#advisor {
    cursor: pointer;
}

#advisor-tooltip {
    font-size: 14px;
}

#powered-by {
    margin-top: 10px;
}

#win-info {
    display: none;
}
